dir_monitor='/home/ftp_user/testmonitor/mondir'
#thu muc chua bao cao:
dir_report='/home/ftp_user/testmonitor/rpdir'
mail='abc@def.com'
frequency_check='5'
#theo dinh dang cua crontab, neu de trong, se bao cao khi kiem tra co thay doi, so phut khong dc dung` *, thang va thu chi~ dung` so' hoac viet tat trong tieng Anh, giua cac doi so phai co khoang trang (space)
frequency_report="5 * * 3 3"
#tinh theo Mb, nho nhat 5
size_backup_rp='223'
#cung dung` dinh dang cua crontab, chi dung 1 trong 2 cach backup, neu ca~ 2 co doi so thi` mac dinh theo size
frequency_backup_rp=* * * * *
